main{
  padding-block: 30px;
}
#card{
  width: 300px;
  height: 400px;
  color: white;
  background: linear-gradient(180deg, #574ff5 25%, white 25%);
  border-block: 2px solid #ff851b;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.426);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
#card img{
  width: 32px;
}
#card h6{
  font-size: 2rem;
  text-shadow: 1px 1px 5px black;
}
#card p{
  font-size: 1rem;
}
#listaResp li{
  font-size: 1rem;
  list-style: none
}
#listaResp p{
  font-size: 1.2rem;
  font-weight: 900;
}
#card div:nth-child(2){
  color: black
}
#card div:nth-child(3){
  display: flex;
  gap: 20px;
  justify-content: center;
}
